body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #FCFFFC;
}

body {
  background-image: url("../Assets/Images/grassTexture75");
  background-position: center;
}

.modal {
  display: none;
  background-color: #00000099;
  position: absolute;
  width: 100%;
  height: 100%;
}

.inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup {
  background-color: #FCFFFC;
  border-radius: 10px;
  width: 40vw;
  height: 30vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalHeader {
  height: 25%;
}

#loadingGif {
  max-height: 75%;
  height: 75%;
}

.modalPlayers {
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}

.popupPlayer {
  width: 60vw;
  height: 50vh;
  background-color: #FCFFFC;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalHeaderPlayer {
  text-align: center;
  border-bottom: 2px solid #0F0A0A;
}

.modalHeaderPlayer h3 {
  color: #0F0A0A;
}

#playerModalBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#playerErrorText {
  color: red;
}

.navbar {
  background-color: #36393B !important;
}

.navbar-brand {
  color: #FCFFFC !important;
}

.nav-link {
  color: rgba(252, 255, 252, 0.75) !important;
}

.nav-item.active {
  color: #FCFFFC !important;
}

.centerbox {
  width: 100%;
  height: 100%;
}

.courseDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courseContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.courseImg {
  height: 75%;
}

.card-body {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-text {
  height: 100%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courseButton {
  height: 50%;
}

.classRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.golfScorecard {
  background-color: #FCFFFC;
  border-color: black;
}
/*# sourceMappingURL=styles.css.map */