//Color scheme https://coolors.co/36393b-c4e0f9-01baef-40f99b-00487c
//Loading icon creator https://loading.io

$paletteDark: #36393B;
$paletteLight: #C4E0F9;
$paletteMain: #01BAEF;
$paletteSecondary: #40F99B;
$paletteDarkMain: #00487C;

$paletteBlack: #0F0A0A;
$paletteWhite: #FCFFFC;
$paletteWhiteTransparency: rgba(252,255,252,.75);

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: $paletteWhite;
}
body{
    background-image: url("../Assets/Images/grassTexture75");
    //background-repeat: no-repeat;
    background-position: center;
}

//Modal
.modal {
    display: none;
    background-color: #00000099;
    position: absolute;
    width: 100%;
    height: 100%;
}
.inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup{
    background-color: $paletteWhite;
    border-radius: 10px;
    width: 40vw;
    height: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalHeader{
    height: 25%;
}
#loadingGif{
    max-height: 75%;
    height: 75%;
}
//
//Players modal
.modalPlayers{
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
}
.popupPlayer{
    width: 60vw;
    height: 50vh;
    background-color: $paletteWhite;
    border-radius: 10px;
    //padding: 20px;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
}
.modalHeaderPlayer{
    text-align: center;
    border-bottom: 2px solid $paletteBlack;
}
.modalHeaderPlayer h3{
    color: $paletteBlack;
}
//

//Navbar
.navbar{
    background-color: $paletteDark !important;
}
.navbar-brand{
    color: $paletteWhite !important;
}
.nav-link{
    color: $paletteWhiteTransparency !important;
}
.nav-item.active{
    color: $paletteWhite !important;
}
//
.centerbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.courseContainer {
    // height: 25%;
    // margin: 0px 8px 8px 8px;
    // background-color: $paletteDarkMain;
    // color: $paletteLight;
    // border-radius: 15px;
    // padding: 0% 2% 2% 2%;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.courseImg {
    height: 75%;
}

.card-body{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text{
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.courseButton {
    height: 50%;
}

.classRow {
    display: flex;
}
